/* style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  

/* Estilos para el encabezado */
#myHeader {
    background-color: #45A759;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Añadir posición fija */
    top: 0; /* Ajustar el encabezado en la parte superior */
    width: 100%; /* Ajustar el ancho al 100% de la ventana */
    z-index: 1000; /* Ajustar el z-index para que esté por encima de otros elementos */
}

#myHeader img {
    max-width: 100px; /* Ajusta el ancho máximo del logo según sea necesario */
}

#myHeader nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#myHeader nav ul li {
    margin-right: 20px;
}

#myHeader nav ul li:last-child {
    margin-right: 0;
}

#myHeader nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#myHeader nav ul li a:hover {
    color: #CE3300;
}

/* Estilos para ajustar el contenido después de fijar el encabezado */
main {
    margin-top: 60px; /* Ajustar el espacio para evitar que el contenido se superponga con el encabezado */
}

  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  /* Estilos específicos para cada sección */
  .about-section, .mission-section, .vision-section {
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .services-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .about-section h2 {
    text-align: center;
    width: 100%; /* Asegura que el título ocupe todo el ancho */
    margin-bottom: 40px;
  }

  .services-section .service {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .clients-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
/* Estilos para el formulario de contacto */
.contact-section {
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    margin: 50px auto;  /* Centra el formulario horizontalmente */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-section h2 {
    text-align: center;
    width: 100%; /* Asegura que el título ocupe todo el ancho */
    margin-bottom: 40px; /* Espaciado inferior para separar el título de las tarjetas */
  }
  
  .contact-section p {
    text-align: center;
  }
  
  .contact-section form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-section label {
    margin-bottom: 5px;
  }
  
  .contact-section input[type="text"],
  .contact-section input[type="email"],
  .contact-section textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-section button {
    background-color: #45A759;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-section button:hover {
    background-color: #36934D;
  }
  
  
  .contact-section form {
    margin-top: 20px;
  }
  
  .contact-section label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-section input[type="text"],
  .contact-section input[type="email"],
  .contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .contact-section button {
    background-color: #45A759;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-section button:hover {
    background-color: #36934D;
  }
  /* Estilos adicionales para el carrusel */
.carousel-item img {
    object-fit: cover; /* Escalar las imágenes para que cubran todo el espacio */
    height: 400px; /* Altura fija para las imágenes */
    width: 100%; /* Ancho del 100% para ajustarse al contenedor */
    height: 100vh;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color del icono */
    border-radius: 50%; /* Hace que el icono sea redondo */
    border: none; /* Elimina el borde del icono */
    line-height: 30px; /* Centra el icono verticalmente */
    font-size: 24px; /* Ajusta el tamaño del icono */
  }
  
  .carousel-control-prev-icon:before,
  .carousel-control-next-icon:before {
    color: #fff; /* Cambia el color del icono */
  }
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    margin-bottom: 20px;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.member h2 {
    text-align: center;
}


.member h3 {
    margin-bottom: 5px;
}

.member p {
    margin: 0;
    color: #666;
}
.mission-content,
.vision-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.mission-text,
.vision-text {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.mission-image img,
.vision-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.services-section {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente el contenido */
    flex-wrap: wrap;
    text-align: center; /* Centra el texto dentro del contenedor */
}

.services-section h2 {
    width: 100%; /* Asegura que el título ocupe todo el ancho */
    margin-bottom: 40px; /* Espaciado inferior para separar el título de las tarjetas */
}

.service {
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service:hover {
    transform: translateY(-5px);
}

.service img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service p {
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

.service h2 {
    font-size: 20px;
    color: #45A759;
    margin-bottom: 10px;
}

.clients-section {
    text-align: center;
    margin-bottom: 120px;
}

.clients-section h2 {
    margin-bottom: 40px;
}

.client-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.client {
    width: calc(25% - 20px);
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.client:hover {
    transform: translateY(-5px);
}

.client img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    position: relative; /* Asegura que el footer se mantenga en su posición relativa al contenido */
    bottom: 0; /* Sitúa el footer al final del contenido */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}



.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin: 20px;
    width: 250px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}
#carouselExampleIndicators .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #743a3a; /* Cambiar el color del texto a verde oscuro */
  }

  #carousel-text h1 {
    font-size: 5em; /* Tamaño del título */
    margin-bottom: 20px;
    color: #921818;
  }

  #carousel-text p {
    font-size: 2em; /* Tamaño del lema */
    color: #000000;
  }